/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 oct. 2019, 09:05:10
    Author     : nicolas
*/

.formLogin {
    width:300px;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
}

.loginTitle{
    background-color: #dadada;
    border-bottom: 1px solid #8D8D8D;
    padding: 5px;
}

.padForm{
    padding: 10px;
}

.tSize {
    width: 99%;
    table-layout: fixed;
    word-wrap:break-word;
}

.detailForm{
    /*border: 1px solid black;*/
    border-radius: 20px;
    padding: 30px;
    width : 75%;
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, 0%);
    margin-top: 50px;
}

.detailForm > h3{
    padding-bottom:7px;
    text-align: center;
}

.detailForm>button{
    margin: 10px;
}

.tabCenter{
    border-radius: 20px;
    padding: 30px;
    width : 85%;
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, 0%);
    margin-top: 50px;
}

.tabCenter>button{
    margin: 10px;
}

.logout {
    margin-right: 6%;
    color: white;
}

.logout_page {
    background-color: #F5F5F5;
    padding: 100px 50px;
    width: 50%;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
}

.cancel > button {
    margin-top: 10px;
}

@media only screen and (max-width: 900px) {
        .remove{
            display: none;
        }
    }